<%= form_for @dancer do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </p>
  <p>
    <%= f.submit 'Update dancer' %>
  </p>
<% end %>