<%= form_for @dancer do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </p>
  <p>
    <%= f.submit 'Create Dancer' %>
  </p>
<% end %>

<% @dancers.each do |dancer| %>
<ul>
  <li>
    <%= dancer.name %>, <%= dancer.genre %>
  </li>
</ul>
<% end %>